<footer class="fixed-bottom bg-light">
    <div class="container text-muted">
        <div class="d-none d-sm-block">
            Please <i class="fi-social-github"></i>
            <a href="https://github.com/CaringDev/CaringDev/discussions?discussions_q=category%3AQ%26A" target="_blank">ask
                questions</a>,
            <a href="https://github.com/CaringDev/CaringDev/discussions?discussions_q=category%3AGeneral" target="_blank">leave
                comments</a>,
            <a href="https://github.com/CaringDev/CaringDev/discussions?discussions_q=category%3AIdeas" target="_blank">blog
                requests</a>
            and <a href="https://github.com/rasch/CaringDev/issues" target="_blank">corrections</a>.
            <span class="float-right d-none d-md-block">
                All content <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img
                        alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
                <span class="d-none d-lg-inline"> (except explicitly stated otherwise)</span></span>
        </div>
    </div>
    <div class="d-sm-none float-right">
        <a href="https://github.com/CaringDev/CaringDev/" class="text-reset" target="_blank"><i class="fi-social-github"></i></a>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img
                alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
    </div>
</footer>